---
hardware:
    versalex:           
      - name: {{digi_ocean_vars[0].versalex[0]['Product']| lower | default('', true) }}
        ram_size: {{digi_ocean_vars[0].versalex[0]['RAM'] | default('', true)}}
        region: nyc1
        image_name: "{{digi_ocean_vars[0].versalex[0]['OS'] | default('', true)}}"
        qty: {{digi_ocean_vars[0].versalex[0]['Total Droplets'] }}
    integrations:           
      - name: {{digi_ocean_vars[0].integrations[0]['Product'] | default('', true) }}
        ram_size: {{digi_ocean_vars[0].integrations[0]['RAM'] | default('', true) }}
        region: nyc1
        image_name: "{{digi_ocean_vars[0].integrations[0]['OS'] | default('', true) }}"
        qty: {{digi_ocean_vars[0].integrations[0]['Total Droplets']}}
{% if (digi_ocean_vars[0].proxies[0]['Total Droplets'] > 0)  %}
    proxy:    
      - name: {{digi_ocean_vars[0].proxies[0]['Product'] | lower| default('', true) }}
        ram_size: {{digi_ocean_vars[0].proxies[0]['RAM'] | default('', true)}}
        region: nyc1
        image_name: "{{digi_ocean_vars[0].proxies[0]['OS'] | default('', true) }}"
        qty: {{digi_ocean_vars[0].proxies[0]['Total Droplets']}}
{% endif %}
    shares:           
      - name: share
        ram_size: {{digi_ocean_vars[0].shares[0]['RAM'] | default('', true) }}
        region: nyc1
        image_name: "{{digi_ocean_vars[0].shares[0]['OS'] | default('', true) }}"
        qty: {{digi_ocean_vars[0].shares[0]['Total Droplets'] }}
software:
    versalex:
      - name: {{digi_ocean_vars[0].versalex[0]['Product'] | lower| default('', true) }}
        version: {{digi_ocean_vars[0].versalex[0]['Version'] | default('', true) }}
        install_location: "/root/Harmony/"
        vex_jmx_port: 3022
    integrations:
      - name: {{digi_ocean_vars[0].integrations[0]['Product'] | default('', true) }}
        version: "mysql:latest"
{% if (digi_ocean_vars[0].proxies[0]['Total Droplets'] >0)  %}
    proxy:
      - name: {{digi_ocean_vars[0].proxies[0]['Product'] | lower| default('', true) }}
        version: {{digi_ocean_vars[0].proxies[0]['Version'] | default('', true) }}
        install_location: "/root/VLProxy/"
        vex_jmx_port: 3022
{% endif %}
    shares:           
      - name: share
        server_share_path: "/root/share/"   
dataset:
    versalex:
{% if (digi_ocean_vars[2].AS2[0]['Total Hosts'] > 0)  %}
      - name: as2
        total: {{digi_ocean_vars[2].AS2[0]['Total Hosts'] | default(0, true) }}
        schedule_actions: true
{% endif %}
{% if (digi_ocean_vars[2].FTP[0]['Total Hosts'] > 0)  %}    
      - name: ftp
        total: {{digi_ocean_vars[2].FTP[0]['Total Hosts'] | default(0, true) }}
        schedule_actions: true
{% endif %}
{% if (digi_ocean_vars[2].SSHFTP[0]['Total Hosts'] > 0)  %}            
      - name: sshftp
        total: {{digi_ocean_vars[2].SSHFTP[0]['Total Hosts'] | default(0, true) }}
        schedule_actions: true
{% endif %}