---
{% for usrkey,usrval in software.items() recursive %}
{% if item.key == usrkey %}
{{usrkey}}:
{% for ukey in usrval recursive %}
  {{ukey.name}}:
    hostname: "{{machine_type}}-{{usrkey}}-{{loop.index}}"
{% for innerkey,innerval in defaults[ukey.name|lower].items() %}
    {{innerkey}}: "{{innerval}}"
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% if dataset is defined %}
{% for usrkey,usrval in dataset.items()  recursive %}
{% if item.key == usrkey %}
dataset:
{% for ukey in usrval recursive %}
  {{ukey.name}}:
{% for innerkey,innerval in defaults[ukey.name|lower].items() %}
    {{innerkey}}: {{innerval}}
{% endfor %}    
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}