---
hardware:
    versalex:           
      - name: {{cp_user_vars[cloud_provider][0].versalex[0]['Product']| lower | default('', true) }}
	    security_group: "systest_sg"
		key_pair: "systest_kp"
        instance_type: {{cp_user_vars[cloud_provider][0].versalex[0]['Instance Type'] | default('', true)}}
        region: "us-west-2"
		image: {{cp_user_vars[cloud_provider][0].versalex[0]['OS'] | default('', true)}}
        vpc_subnet_id: "subnet-81618ae6"		
        qty: {{cp_user_vars[cloud_provider][0].versalex[0]['Total Droplets'] }}
    integrations:           
      - name: {{cp_user_vars[cloud_provider][0].integrations[0]['Product'] | default('', true) }}
        instance_type: {{cp_user_vars[cloud_provider][0].integrations[0]['Instance Type'] | default('', true) }}
        region: "us-west-2"
        image: "{{cp_user_vars[cloud_provider][0].integrations[0]['OS'] | default('', true)}}"
        qty: {{cp_user_vars[cloud_provider][0].integrations[0]['Total Droplets']}}
{% if (cp_user_vars[cloud_provider][0].proxies[0]['Total Droplets'] > 0)  %}
    proxy:    
      - name: {{cp_user_vars[cloud_provider][0].proxies[0]['Product'] | lower| default('', true) }}
        ram_size: {{cp_user_vars[cloud_provider][0].proxies[0]['Instance Type'] | default('', true)}}
        region: "us-west-2"
        image: "{{cp_user_vars[cloud_provider][0].proxies[0]['OS'] | default('', true)}}"
        qty: {{cp_user_vars[cloud_provider][0].proxies[0]['Total Droplets']}}
{% endif %}
    shares:           
      - name: share
        ram_size: {{cp_user_vars[cloud_provider][0].shares[0]['Instance Type'] | default('', true) }}
        region: "us-west-2"
        image: "{{cp_user_vars[cloud_provider][0].shares[0]['OS'] | default('', true)}}"
        qty: {{cp_user_vars[cloud_provider][0].shares[0]['Total Droplets'] }}
software:
    versalex:
      - name: "{{cp_user_vars[cloud_provider][0].versalex[0]['Product'] | lower| default('', true) }}"
        version: "{{cp_user_vars[cloud_provider][0].versalex[0]['Version'] | default('', true) }}"
        install_location: "/root/Harmony/"
        vex_jmx_port: 3022
        vex_heapmem_max: {{((cp_user_vars[cloud_provider][0].versalex[0]['Instance Type'][:-2]|int*3/4)|int|abs)|default('', true)}}G
        karaf_heapmem_max: {{((cp_user_vars[cloud_provider][0].versalex[0]['Instance Type'][:-2]|int)-((cp_user_vars[cloud_provider][0].versalex[0]['Instance Type'][:-2]|int*3/4)|int|abs))|default('', true)}}G
    integrations:
      - name: {{cp_user_vars[cloud_provider][0].integrations[0]['Product'] | default('', true) }}
        version: {{cp_user_vars[cloud_provider][0].integrations[0]['Version'] | default('', true) }}
{% if (cp_user_vars[cloud_provider][0].proxies[0]['Total Droplets'] >0)  %}
    proxy:
      - name: {{cp_user_vars[cloud_provider][0].proxies[0]['Product'] | lower| default('', true) }}
        version: {{cp_user_vars[cloud_provider][0].proxies[0]['Version'] | default('', true) }}
        install_location: "/root/VLProxy/"
        vex_jmx_port: 3022
{% endif %}
    shares:           
      - name: share
        server_share_path: "/root/share/"   
dataset:
    versalex:
{% if (cp_user_vars[cloud_provider][2].AS2[0]['Total Hosts'] > 0)  %}
      - name: as2
        total: {{cp_user_vars[cloud_provider][2].AS2[0]['Total Hosts'] | default(0, true) }}
        schedule_actions: true
{% endif %}
{% if (cp_user_vars[cloud_provider][2].FTP[0]['Total Hosts'] > 0)  %}    
      - name: ftp
        total: {{cp_user_vars[cloud_provider][2].FTP[0]['Total Hosts'] | default(0, true) }}
        schedule_actions: true
{% endif %}
{% if (cp_user_vars[cloud_provider][2].SSHFTP[0]['Total Hosts'] > 0)  %}            
      - name: sshftp
        total: {{cp_user_vars[cloud_provider][2].SSHFTP[0]['Total Hosts'] | default(0, true) }}
        schedule_actions: true
{% endif %}