configPwd={{ config_password }}
emailOnFailAddr={{ email_on_fail_addr }}
executeOnFailCommand={{ execute_on_fail_command }}
externalAddress={{ ansible_ssh_host }}
internalFTPAddress={{ internal_ftp_address }}
internalFTPMask={{ internal_ftp_mask }} : 
logExternalAddress={{ log_external_address }}
mailServerAddress={{ mail_server_address }}
mailServerPassword={{ mail_server_password }}
mailServerUsername={{ mail_server_username }}
maxLogFileSize={{ max_log_file_size }}
portBacklog={{ port_backlog }}
proxyHTTPPorts={{ proxy_https_ports }}
remoteReadTimeout={{ remote_read_timeout }}
reverseProxyExplicitFTPsPorts={{ reverse_proxy_explicit_ftp_ports }}
reverseProxyFTPDataPorts={{ reverse_proxy_ftp_data_ports }}
reverseProxyFTPPorts={{ reverse_proxy_ftp_ports }}
reverseProxyHTTPPorts={{ reverse_proxy_http_ports }}
reverseProxyHTTPsPorts={{ reverse_proxy_https_ports }}
reverseProxyImplicitFTPsPorts={{ reverse_proxy_implicit_ftps_ports }}
reverseProxyLoadBalancing={{ reverse_proxy_load_balancing }}
reverseProxyOFTPPorts={{ reverse_proxy_oftp_ports }}
reverseProxyOFTPsPorts={{ reverse_proxy_oftps_ports }}
reverseProxyRetry={{ reverse_proxy_retry }}No
reverseProxySSHFTPPorts={{ reverse_proxy_sshftp_ports }}
serialNumbers={{ serial_numbers_csv }}
unknownPartnerMsgAction={{ unknown_partner_msg_action }}
vlReadTimeout={{ vl_read_timeout }}